
body{
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.App-header {
  background-color: #0B3C5D;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: calc(10px + 2vmin);
  height: 5%;
  color: white;
  top : 0px;
  transition: 0.5s

}

.App-header:hover{
  height: 6%;
  background-color: darkorange;
}

.App-header:hover .Titre{
  color: darkorange;
}

.Logo{
  position: relative;
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.Logo:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: darkorange;
}

.Home {
  background-color: #1D2731;
  height: 95%;
}

.Titre{
  color :white;
  font-size: 50px;
  position: relative;
  top: 50%;
  font-weight: lighter;
}

.Titre:hover{
  color: darkorange;
}

.Button{
  border-color: white;
  border-radius: 6px;
  border-size: 50px;
  box-shadow: #1D2731;
  background-color: #0B3C5D;
  color: white;
  width: 200px;
  height: 40px;
  font-size: calc(10px + 2vmin);
  position:absolute;
  bottom: 10px;
  transform: translateX(-50%);
  font-weight: lighter;
  transition: 0.2s all;

}

.Arrow {
  opacity: 0;
  width: 32px;
  height: 32px;
  color: #1D2731;
}

.Arrow:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.Button:hover{
  opacity: 0.7;
  background-color: darkorange;
  height: 80px;
}

.Button:hover .Arrow{
  opacity:1;
  back: #1D2731;
}

.Button > span {
  position: relative;
  top: 50;
  transition: all 0.2s;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes anim {
  0% {
  }
  20% {
    z-index: 11;
    \transform: skewX(5deg) translateX(-100%);
  }
  40% {
    transform: skewX(0deg) translateX(0);
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  60% {
    transform: skewX(3deg) translateX(0);
    width: 100%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  80% {
    transform: skewX(1deg) translateX(-100%);
    width: 60%;
    z-index: 11;
    box-shadow: 10px 10px 5px #eaeaea;
  }
  100% {
    transform: skewX(-5deg) translateX(-50px);
    width: 30%;
    z-index: 1;
    box-shadow: none;
  }
}